#intmerfacebooklogin-link {
    float: right;
    border-left: 1px solid #515151;
}

#intmerfacebooklogin-link a {
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px;
}

#intmerfacebooklogin-link a:hover,
#intmerfacebooklogin-link a.active {
    background: #2b2b2b;
}

#intmerfacebooklogin-top-link {
    padding-top: 50px;
}

#intmerfacebooklogin-top-link .btn.btn-default {
    background: #333;
    display: block;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0;
}

#intmerfacebooklogin-top-link .btn.btn-default:hover {
    color: #6f6f6f;
}

#intmerfacebooklogin-top-link .btn.btn-default:before {
    content: "";
    display: block;
    font-family: "FontAwesome";
    font-size: 17px;
    width: 100%;
    text-align: center;
}
