{*
* Intmer Facebook Login for Prestashop
*
* @author    Intmer
* @copyright 2015 Intmer
* @license   Commercialware
*}
<div class="panel">
    <h3><i class="icon icon-tags"></i> {l s='Getting started' mod='intmerfacebooklogin'}</h3>
    <ul>

    </ul>
</div>
